<div class="movies">
  <div class="movie">
    <div class="left">
      <div class="movie_img">
      <!-- test image -->
      <img src="https://images-na.ssl-images-amazon.com/images/M/MV5BOWQ0MjRmZmUtY2Q2Yi00ODcxLWE4NGMtMTNjMDY1YmUzMjVkXkEyXkFqcGdeQXVyNjc1NTYyMjg@._V1_SX300.jpg", alt="placeholder">
      </div>
      <div class="img_rating">
        <!-- movie rating; should be the user's rating -->
        <!-- <span class=”glyphicon glyphicon-star”></span> -->
      </div>
    </div>
    <div class="right">
      <div class="movie_info">
        <p class="title">Psycho</p>
        <p class="release_date">Release Date: 1960</p>
        <p class="genre">Genre: Thriller</p>
      </div>
      <div class="movie_reviews">
        <div class="user_rating">
          Rating
        </div>
        <div class="review">
            "A Phoenix secretary embezzles $40,000 from her employer's client, goes on the run, and checks into a remote motel run by a young man under the domination of his mother."
        </div>
        <br style="clear:both;">
      </div>
    </div>
  </div>
</div>

<div class="reviews">
  I'm reviews
</div>
