<div class="header">
  <div class="container">
    <nav>
      <ul>
  			<li> Home </li> <li> Search </li> <li> Reviews </li> <li> About </li>
      </ul>
    </nav>
  </div>
</div>

<div class="jumbotron">
  <div class="container">
    <div class="main">
      <h1>MARQUEE</h1>
    </div>
  </div>
</div>

<div class="footer">
  <div class="container">
    <p>&copy; Daniel Bacon 2018</p>
  </div>
</div>
