.movies {
  width: 65%;
  min-height: 750px;
  max-height: 1500px;
  margin-left: 20px;
  float: left;
  overflow: hidden;
  position: relative;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 600;
  font-size: 12px;
}

.left {
  position: absolute;
}

.movie {
  clear: both;
}

.movie img {
  top: 0;
  left: 0;
  width: 300px;
  height: 450px;
  border-radius: 5px;
}

.img_rating {
  height: 30px;
  width: 300px;
  text-align: center;
}

.right {
  height: 485px;
  margin-left: 310px;
  padding-left: 30px;
  text-align: left;
}

.floater {
  float: left;
  height: 50%;
  width: 100%;
  margin-bottom: -115px;
}

/* Need to fix sizing and color for all title links; works for hover */
h2 {
  font-size: 36px;
  font-style: italic;
  color: #333;
  margin-bottom: -10px;
}

h2:visited {
  font-size: 36px;
  font-style: italic;
  margin-bottom: -10px;
  color: #333;
  text-decoration: none;
}

h2:hover {
  font-size: 36px;
  font-style: italic;
  margin-bottom: -10px;
  color: #72f9b4;
  text-decoration: none;
}

.plot {
  width: 75%;
  overflow: hidden;
  clear: left;
  font-style: italic;
}

.reviews {
  width: 30%;
  min-height: 750px;
  max-height: 1500px;
  float: right;
  margin-right: 20px;
  position: relative;
  overflow: hidden;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}
