.review_index {
  width: 75%;
  margin: auto;
  min-height: 750px;
  max-height: 1500px;
  overflow: scroll;
  font-family: 'Raleway', sans-serif;
  color: #333;
  font-weight: 600;
  font-size: 12px;
  position: relative;
}

/*left*/
.review_left {
  position: absolute;
  width: 30%;
  height: 175px;
  border-bottom: 1px solid #72f9b4;
}

.user_info {
  margin: auto;
  padding-bottom: 22px;
  width: 50%;
  text-align: left;
  font-size: 11px;
}

.movie_title {
  text-align: center;
  font-size: 12px;
}

/*right*/
.review_right {
  height: 150px;
  margin-left: 33%;
  padding: 22px 0;
}

.user_review {
  background-color: lightGrey;
  margin: auto;
  border-radius: 5px;
  text-align: left;
  padding: 2px 10px;
  overflow: scroll;
}

#back_button {
  border: none;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#back_button:hover {
  color: #72f9b4;
}

span {
  float: right;
}
